{% for button in sideBarButtons %}
    {% if button.controllerName in app.request.attributes.get("_controller") %}
        {% set currentButton = button %}
        {{ app.session.set('currentButton', button) }}
    {% endif %}
{% endfor %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Sistema de Vendas {% endblock %}</title>
        <link rel="icon" type="image/svg" href="{{ absolute_url(asset('favicon.svg')) }}" />
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-white antialiased relative">
        {{ include('_flash.html.twig') }}
        {{ include('_navbar.html.twig') }}
        {{ include('_sidebar.html.twig') }}
        <div class="p-4 sm:ml-64">
            <div class="p-4 rounded-lg mt-16">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
