{% for button in sideBarButtons %}
    {% if button.controllerName in app.request.attributes.get("_controller") %}
        {% set currentButton = button %}
        {{ app.session.set('currentButton', button) }}
    {% endif %}
{% endfor %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Sistema de Vendas {% endblock %}</title>
        <link rel="icon" type="image/svg" href="{{ absolute_url(asset('favicon.svg')) }}" />
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% for message in app.flashes('success') %}
            <div class="flex items-center w-full max-w-xs p-4 space-x-4 rtl:space-x-reverse text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow-sm top-{{ (loop.index0 * 20) + 25 }} right-5" role="alert">
                {% include 'svg/checkmark-circle.svg.twig' %}
                <div class="ps-4 text-sm font-normal">{{ message }}</div>
            </div>
        {% endfor %}
        {{ include('_navbar.html.twig') }}
        {{ include('_sidebar.html.twig') }}
        <div class="p-4 sm:ml-64">
            <div class="p-4 rounded-lg mt-16">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
